%% For rebar
% {erl_opts, [debug_info]}.
%
% {deps, [
%   {rebar_elixir_plugin, ".*", {git, "https://github.com/yrashk/rebar_elixir_plugin.git"}},
%   {elixir, {git, "https://github.com/elixir-lang/elixir.git"}}
% ]}.
%
% %% Let rebar know about the new plugins
% {plugins, [
%   rebar_elixir_compiler, rebar_exunit
% ]}.
%
% {lib_dirs, [
%   "deps/elixir/lib"
% ]}.

%% For rebar3
{erl_opts, [debug_info]}.
{elixir_opts, [{env, dev}]}.

{lib_dir, "/usr/local/lib/elixir/lib/"}.
{bin_dir, "/usr/local/bin/"}.

{plugins, [
  {rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
  ]}.

{deps, [
  ]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]}
  ]}.
