{erl_opts, [debug_info]}.

{deps, [
  {rebar_elixir_plugin, ".*", {git, "https://github.com/yrashk/rebar_elixir_plugin.git"}},
  {elixir, {git, "https://github.com/elixir-lang/elixir.git"}}
]}.

%% Let rebar know about the new plugins
{plugins, [
  rebar_elixir_compiler, rebar_exunit
]}.

{lib_dirs, [
  "deps/elixir/lib"
]}.
